<%= render 'shared/header' %>

<div class="container mx-auto my-8">
  <h1 class="text-2xl font-bold mb-4">マイページ</h1>
  <p>ようこそ、<%= @user.name %> さん</p>
  <p>メールアドレス: <%= @user.email %></p>
</div>

<%= render 'shared/footer' %>